@model IEnumerable<GAPv3.ViewModels.NormItemViewModel>
@{
    var title = Model.Any() ? "razina " + Model.ElementAt(0).Level : "Nema podataka";
    var normId = Model.ElementAt(0).NormId;
    var parentId = Model.ElementAt(0).ParentId;
}
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Popis klauzula - @title</h2>
            </div>
            <div class="col-md-4">
                <p>
                    @Html.ActionLink("Create new", "CreatePartial", "NormItems", new { normId = normId, parentId = parentId }, new { @class = "btn btn-primary pull-right", data_target = "#modal-container", data_toggle = "modal" })
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Norm.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parent.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsItem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>Akcija</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Norm.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "NormItems", new { id = item.NormItemId }) |
                        @Html.ActionLink("Details", "Details", "NormItems", new { id = item.NormItemId })
                        @if (!item.IsItem)
                        {
                            <span> | </span>@Html.ActionLink("Select", "Index", "NormItems", null, new { @class = "load-norm-item", data_norm_id = item.NormId, data_parent_id = item.NormItemId, data_target = item.Target })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
