@model IEnumerable<GAPv3.Models.NormItem>
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Popis klauzula - razina 1</h2>
            </div>
            <div class="col-md-4">
                <p>
                    @Html.ActionLink("Create New", "Create", "NormItems", new { @class = "btn btn-primary pull-right" })
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Norm.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parent.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsItem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Norm.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "NormItems", new { id = item.NormItemId }) |
                        @Html.ActionLink("Details", "Details", "NormItems", new { id = item.NormItemId }) |
                        @Html.ActionLink("Delete", "Delete", "NormItems", new { id = item.NormItemId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
