@model GAPv3.Models.NormItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NormItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Norm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Norm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NormItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
