@using System.Web.UI.WebControls
@model GAPv3.Models.User
@{
    Layout = "~/Views/Shared/_LayoutLocked.cshtml";
    ViewBag.Title = "Promjeni lozinku";
}

@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    <div class="form-signin">
        <div class="form-group col-md-4 offset-md-4" style="text-align: center; margin-top: 2em;">
            <h1>Promjena lozinke</h1>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-4 " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", Style = "max-width:500px" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
           <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-4 "})
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", Style = "max-width:500px" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <input type="submit" value="Promjeni" class="btn btn-danger" />
            <div class="form-group">
                <div class="col-md-10">

                </div>
               
            </div>
           
        </div>
    </div>

    }