@using System.Web.UI.WebControls
@model GAPv3.Models.User
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
@Styles.Render("~/Content/login")
@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="card card-container">
            <img class="align-middle" src="~/Content/images/logo.png" alt="logoimg" style="border-radius:20px; ">
            <p id="profile-name" class="profile-name-card"></p>
            @Html.ValidationSummary(true, "Pogrešan email ili lozinka!", new { @class = "text-danger" })
            <div class="form-signin">
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "inputEmail", type = "email", PlaceHolder = "Email address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "inputPassword", type = "password", PlaceHolder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div id="remember" class="checkbox form-group">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </div><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
