<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GAP analiza</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
        <a> @Html.ActionLink("GAP Analiza", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a>@Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "nav-item nav-link" })</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organizacije</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a> @Html.ActionLink("Dohvat", "Index", new { controller = "Organisations" }, new { @class = "dropdown-item" })</a>
                        <a> @Html.ActionLink("Unos", "New", new { controller = "Organisations" }, new { @class = "dropdown-item" })</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a> @Html.ActionLink("Administracija", "Index", new { controller = "Admin" }, new { @class = "nav-item nav-link" })</a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">

                        @{
                            var identity = (HttpContext.Current.User as CustomPrincipal).Identity as CustomIdentity;
                            var mail = identity.User.Email.Substring(0, identity.User.Email.Length - 7);
                        }
                        <a class="nav-link dropdown-toggle nav-item" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@($"Dobrodošli, {mail}")</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a> @Html.ActionLink("Promijeni lozinku", "ChangePassword", new { controller = "Account" }, new { @class = "dropdown-item" })</a>
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a class="dropdown-item" , href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        </div>
                    </li>
                            }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GAP analiza - NPSolutions</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>