<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GAP analiza</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
        <a> @Html.ActionLink("GAP Analiza", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a>@Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "nav-item nav-link" })</a>
                </li>
                <li class="nav-item">
                    <a> @Html.ActionLink("Organizacije", "Index", new { controller = "Organisations" }, new { @class = "nav-item nav-link" })</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @{
                    if (Request.IsAuthenticated)
                    {
                        var identity = (HttpContext.Current.User as CustomPrincipal).Identity as CustomIdentity;
                        <li class="nav-item">
                            <a class="nav-item nav-link">@string.Format("Dobrodošli, {0}", identity.User.Email)</a>
                        </li>
                        <li class="nav-item">
                            <a> @Html.ActionLink("Administracija", "Index", new { controller = "Admin" }, new { @class = "nav-item nav-link" })</a>
                        </li>
                    }
                }
                @{
                    if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <li class="nav-item">
                                <a class="nav-item nav-link" , href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a> @Html.ActionLink("Login", "Login", new { controller = "Account" }, new { @class = "nav-item nav-link" })</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GAP analiza - NPSolutions</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>