<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GAP analiza</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
        <a> @Html.ActionLink("GAP Analiza", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a> @Html.ActionLink("Korisnici", "Index", new { controller = "Users" }, new { @class = "nav-item nav-link" })</a>
                <a> @Html.ActionLink("Organizacije", "Index", new { controller = "Organisations" }, new { @class = "nav-item nav-link" })</a>
                @{
                    if (Request.IsAuthenticated)
                    {
                        var identity = (HttpContext.Current.User as CustomPrincipal).Identity as CustomIdentity;
                        <a class="nav-item nav-link">@string.Format("Dobrodošli, {0}", identity.User.Email)</a>
                    }
                }
                @{
                    if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout","Account", FormMethod.Post,new{ id = "logoutForm"}))
                        {
                        
                            <a class="nav-item nav-link", href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Login","Login","Account", new { @class = "nav-item nav-link" })
                    }
                }
            </div>
        </div>

    </nav>

    <li>
        @{
            if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Account")
            }
        }
    </li>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GAP analiza - NPSolutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>